
body{
    background-color: black;
    color: rgba(255,255,255,0.8);
}

#landing{
    height: 100vh;
    background-image: url('https://v1.vuetifyjs.com/static/doc-images/parallax/material.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#mainText{
    margin-top: 30vh;
}

#intro{
    margin-top: 50px;
}

#work{
    background-color: rgb(61,61,61);
}

#p1{
    height: 350px;
}

.col.s12.m12.l4  {
    width: 100%;
}

#mainText.center   {
    size: 25px;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .img.responsive-img {
        /* width: 100%; */ 
        /* min-width: 100%; */
        /* neither of the above work rn */
    }
  }